<div class='navbar navbar-default'>
    <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['/usuario']">
          Cadastrar
        </a></li>
      </ul>
  <form class="navbar-form navbar-right" role="search">
    <input class='form-control' placeholder="Filtrar usuários">
  </form>
</div>

<div class='container'>
    <div class='jumbotron'>
        <h1 class='text-center'>Home</h1>
    </div>
</div>

<div class='container'>
  <table>
    <tr>
      <th>Nome </th>
      <th>Idade </th>
      <th>Cargo </th>
    </tr>
  </table>
</div>